.container
{
	width: 1100px;
    margin: 0 auto;
    background-color:#dbdad6;
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 
    border-radius: 5px;

}

.internal
{
width: 900px;
background-color:#d7d2be;
padding: 5px; 
margin: 10px auto;  
border-radius: 5px;
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
}


@media(max-width: 750px)
{
	.container { width: 700px; }
	.internal { width: 600px;  }
	.card{width: 600px;}
	.banner{width: 600px;}


}
@media(max-width: 550px)
{
	.container { width: 500px; }
	.internal { width: 400px;  }
	.card {width: 400px;}
	.banner{width: 400px;}

}